<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
                           http://www.springframework.org/schema/beans/spring-beans.xsd">

    <bean id="dataSource" class="com.mchange.v2.c3p0.ComboPooledDataSource" destroy-method="close">
        <property name="driverClass" value="org.postgresql.Driver"/>
        <property name="jdbcUrl" value="jdbc:postgresql://192.168.20.10:5433/tworegion_3857_temp_shards_02"/>
        <property name="user" value="sde"/>
        <property name="password" value="123456"/>

        <property name="minPoolSize" value="3"/>
        <property name="maxPoolSize" value="15"/>
        <property name="initialPoolSize" value="3"/>
    </bean>

    <bean id="sessionFactory" class="org.springframework.orm.hibernate5.LocalSessionFactoryBean">
        <property name="dataSource" ref="dataSource"/>
        <property name="packagesToScan" value="com.yulintu.thematic.data.sharding.test"/>
        <property name="hibernateProperties">
            <props>
                <prop key="provider.type">postgresql</prop>
                <prop key="hibernate.dialect">org.hibernate.spatial.dialect.postgis.PostgisPG95Dialect</prop>

                <!--<property name="hbm2ddl.auto">create</property>-->
                <prop key="hibernate.show_sql">true</prop>
                <prop key="hibernate.format_sql">true</prop>
                <prop key="hibernate.jdbc.batch_size">1000</prop>
                <prop key="hibernate.jdbc.lob.non_contextual_creation">true</prop>

                <!--<prop key="hibernate.search.default.indexmanager">elasticsearch</prop>-->
                <!--<prop key="hibernate.search.default.elasticsearch.host">http://192.168.20.10:9200</prop>-->
            </props>
        </property>

    </bean>
</beans>