<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
                           http://www.springframework.org/schema/beans/spring-beans.xsd">

    <bean id="dataSource" class="com.yulintu.thematic.data.sharding.ShardingBean">
        <property name="shards">
            <list>

                <!--*-->
                <bean class="com.yulintu.thematic.data.sharding.ShardElement">
                    <property name="provider" value="com.yulintu.thematic.data.hibernate.ProviderPersistenceImpl"/>
                    <property name="name" value="全局分片00"/>
                    <property name="group" value="*"/>
                    <property name="connectionString"
                              value="configure=spring.datasource.shards.00.postgresql.xml;type=spring"/>
                    <property name="properties">
                        <props>
                            <prop key="*"/>
                        </props>
                    </property>
                </bean>
                <bean class="com.yulintu.thematic.data.sharding.ShardElement">
                    <property name="provider" value="com.yulintu.thematic.data.hibernate.ProviderPersistenceImpl"/>
                    <property name="name" value="全局分片01"/>
                    <property name="group" value="*"/>
                    <property name="connectionString"
                              value="configure=spring.datasource.shards.01.postgresql.xml;type=spring"/>
                    <property name="properties">
                        <props>
                            <prop key="*"/>
                        </props>
                    </property>
                </bean>
                <bean class="com.yulintu.thematic.data.sharding.ShardElement">
                    <property name="provider" value="com.yulintu.thematic.data.hibernate.ProviderPersistenceImpl"/>
                    <property name="name" value="全局分片02"/>
                    <property name="group" value="*"/>
                    <property name="connectionString"
                              value="configure=spring.datasource.shards.02.postgresql.xml;type=spring"/>
                    <property name="properties">
                        <props>
                            <prop key="*"/>
                        </props>
                    </property>
                </bean>

                <!--zone-->
                <bean class="com.yulintu.thematic.data.sharding.ShardElement">
                    <property name="provider" value="com.yulintu.thematic.data.hibernate.ProviderPersistenceImpl"/>
                    <property name="name" value="分片00"/>
                    <property name="group" value="5101"/>
                    <property name="connectionString"
                              value="configure=spring.datasource.shards.00.postgresql.xml;type=spring"/>
                    <property name="properties">
                        <props>
                            <prop key="zone">5101</prop>
                        </props>
                    </property>
                </bean>
                <bean class="com.yulintu.thematic.data.sharding.ShardElement">
                    <property name="provider" value="com.yulintu.thematic.data.hibernate.ProviderPersistenceImpl"/>
                    <property name="name" value="分片01"/>
                    <property name="group" value="5102"/>
                    <property name="connectionString"
                              value="configure=spring.datasource.shards.01.postgresql.xml;type=spring"/>
                    <property name="properties">
                        <props>
                            <prop key="zone">5102</prop>
                        </props>
                    </property>
                </bean>
                <bean class="com.yulintu.thematic.data.sharding.ShardElement">
                    <property name="provider" value="com.yulintu.thematic.data.hibernate.ProviderPersistenceImpl"/>
                    <property name="name" value="分片02"/>
                    <property name="group" value="5102"/>
                    <property name="connectionString"
                              value="configure=spring.datasource.shards.02.postgresql.xml;type=spring"/>
                    <property name="properties">
                        <props>
                            <prop key="zone">5102</prop>
                        </props>
                    </property>
                </bean>
            </list>
        </property>
    </bean>

</beans>